.footer {
  position: fixed;
  display: flex;
  z-index: 1;
  align-items: center;
  width: 100vw;
  height: 10vw;
  bottom: 0;
  @media (min-width: 768px) {
    height: 76px;
  }
  @media (max-width: 576px) {
    height: 57.6px;
  }
}

.menu-button-container {
  position: absolute;
  z-index: 3;
  margin-left: 2%;
  height: 60%;
  width: auto;
}

.menu-button {
  opacity: 0.6;
  position: absolute;
  height: 100%;
  width: auto;
  &:hover {
    opacity: 0.2;
  }
  &.clicked {
    animation: pulsate-bck 0.5s ease-in-out both;
  }
}

.footer-menu {
  &.enter {
    animation: slide-in-bottom 0.5s both;
  }
  &.exit {
    animation: slide-out-bottom 7s both;
  }
  background-color: $light-gray;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  bottom: 0;
  box-shadow: $dark-mode-shadow;
  -webkit-box-shadow: $dark-mode-shadow;
  -moz-box-shadow: $dark-mode-shadow;
  @media (min-width: 768px) {
    height: 76px;
  }
  &.footer-menu[theme="light"] {
    background-color: white;
    box-shadow: $light-mode-shadow;
    -webkit-box-shadow: $light-mode-shadow;
    -moz-box-shadow: $light-mode-shadow;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1000px);
    opacity: 0;
  }
}

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
