.footer {
  position: fixed;
  display: flex;
  z-index: 1;
  align-items: center;
  width: 100vw;
  height: 10vw;
  bottom: 0;
  @media (min-width: 768px) {
    height: 76px;
  }
  @media (max-width: 576px) {
    height: 57.6px;
  }
}

.menu-button-container {
  position: absolute;
  z-index: 3;
  margin-left: 2%;
  height: 60%;
  width: auto;
}

.menu-button {
  opacity: 60%;
  position: absolute;
  height: 100%;
  width: auto;
}

.footer-menu {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  bottom: 0;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.45);
  @media (min-width: 768px) {
    height: 76px;
  }
}
