// Variables

// Colors
// $base-color: #c6538c;
// $border-dark: rgba($base-color, 0.88);

// Colors
$dark-gray: #202124;
$light-gray: #2c2d31;
$lighter-gray: #46484e;
$highlight-gray: #b0b1b7;
$icon-gradient: linear-gradient(
  190deg,
  rgba(32, 33, 36, 1) 0%,
  rgba(70, 72, 78, 1) 100%
);
$opaque-white: rgba(white, 0.75);
$opaque-light-gray: rgba($light-gray, 0.75);
$pastel-red: #e06060;
$pastel-red-light: #ffa2a2;
$pastel-blue: #50cddc;

//Box Shadow
$light-mode-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.14);
$dark-mode-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.45);
$icon-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

// Variables
$bg-dark: $dark-gray;
$bg-light: $pastel-red-light;

// Typography
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,300&display=swap");
$font-family-base: "Montserrat", sans-serif;

// Functions
// Mixins
// Helpers
