.about-content-container {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-height: 95%;
}

.bio-container {
  max-width: 445px;
}

.signature-container {
  background: none;
  max-width: 165px;
  min-width: 125px;
  width: 20vw;
}

.signature {
  max-width: 100%;
}

.intro,
.intro-2 {
  margin: 0;
}
