.bio-container {
  position: relative;
  z-index: 3;
  margin-left: 6%;
  margin-right: 6%;
  max-width: 445px;
  @media (max-width: 768px) {
    margin-top: 6%;
  }
  & p {
    animation: $fade-in;
    -webkit-animation: $fade-in;
  }
}

.signature-container {
  width: 40%;
  min-width: 135px;
}

.signature {
  max-width: 100%;
}

.intro,
.intro-2 {
  margin: 0;
}

.background-images-container {
  z-index: 2;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 50vw;
  height: fit-content;
  max-width: 700px;
  right: 8%;
  bottom: 10%;
  @media (max-width: 768px) {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    bottom: 0;
    width: 80%;
  }
  @media (min-width: 1440px) {
    width: 80%;
    right: 15%;
  }
}

.background-image {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}

.background-shadow {
  position: absolute;
  right: 35px;
  bottom: -15px;
  z-index: 1;
  width: 100%;
  height: auto;
}

.quick-facts-container {
  display: flex;
  justify-content: center;
  position: absolute;
  border-left: solid $opaque-white 4px;
  background-color: $light-gray;
  right: 0;
  z-index: 1;
  width: max-content;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 100%;
  @media (max-width: 768px) {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: none;
    height: min-content;
    padding-bottom: 15vw;
  }
}

.quick-facts-content {
  margin-top: 5vw;
  & p {
    animation: $fade-in;
    -webkit-animation: $fade-in;
    font-size: 20px;
    font-weight: 600;
    line-height: 17px;
    margin: 0;
    &.location {
      padding: 5px;
      margin-bottom: 2vw;
      border: solid 1px white;
      font-weight: 500;
      font-size: 15px;
    }
  }
  @media (max-width: 768px) {
    margin-top: 50px;
  }
  & span.city {
    font-weight: 700;
  }
}

.favorites {
  & :first-child {
    -webkit-animation: $tracking-in-expand;
    animation: $tracking-in-expand;
    color: $pastel-red;
    font-style: italic;
    font-weight: 900;
  }
  @media (max-width: 768px) {
    margin-top: 30px;
  }
}

.hobbies {
  margin-top: 2vw;
  & :first-child {
    -webkit-animation: $tracking-in-expand;
    animation: $tracking-in-expand;
    color: $pastel-blue;
    font-style: italic;
    font-weight: 900;
  }
  @media (max-width: 768px) {
    margin-top: 30px;
  }
}
