$feed-spacing: 5vw;
$feed-spacing-mobile: 10vw;
$card-alignment: 1.5vw;
$card-alignment-mobile: 4vw;
$card-border: 2px;
$card-width: 40vw;
$card-width-mobile: 80vw;

.projects-feed-container {
  width: min-content;
  height: 100%;
  display: grid;
  margin-left: $feed-spacing;
  grid-template-columns: min-content min-content;
  grid-template-rows: auto;
  @media (max-width: 768px) {
    margin-left: 0px;
    grid-template-columns: min-content;
    grid-template-rows: auto;
  }
}

.project-card-container {
  display: flex;
  padding-top: calc(#{$feed-spacing} + #{$card-alignment});
  &:nth-last-child(-n + 2) {
    padding-bottom: $feed-spacing;
  }
  &:nth-child(even) {
    padding-right: $card-alignment;
    padding-left: $feed-spacing;
  }
  &:nth-child(odd) {
    padding-right: $card-alignment;
  }
  &[theme="light"] {
    .card-contents-container {
      background-color: white;
    }
    .card-shadow {
      box-shadow: $light-mode-shadow;
    }
  }
  @media (max-width: 768px) {
    padding-top: calc(#{$feed-spacing-mobile} + #{$card-alignment-mobile});
    &:nth-last-child(-n + 2) {
      padding-bottom: 0px;
    }
    &:nth-child(even) {
      padding-right: $card-alignment-mobile;
      padding-left: 0px;
    }
    &:nth-child(odd) {
      padding-right: 0px;
    }
    &:last-child {
      padding-bottom: $feed-spacing-mobile;
    }
  }
}

.card-header {
  position: absolute;
  z-index: 3;
  margin-left: $card-alignment;
  margin-top: calc(-#{$card-alignment} - #{$card-border});
  background-color: $pastel-red;
  border: solid $card-border $light-gray;
  width: $card-width;
  max-width: 620px;
  height: $card-alignment;
  max-height: 347px;
  @media (max-width: 768px) {
    width: $card-width-mobile;
    height: $card-alignment-mobile;
    margin-left: $card-alignment-mobile;
    margin-top: calc(-#{$card-alignment-mobile} - #{$card-border});
  }
}

.card-shadow {
  position: absolute;
  z-index: 1;
  background-color: $pastel-blue;
  box-shadow: $dark-mode-shadow;
  border: solid $card-border $light-gray;
  width: $card-width;
  max-width: 620px;
  height: calc(#{$card-width} * 0.56);
  max-height: 347px;
  @media (max-width: 768px) {
    width: $card-width-mobile;
    height: $card-width-mobile;
    max-height: none;
  }
}

.card-contents-container {
  position: relative;
  z-index: 2;
  left: $card-alignment;
  bottom: $card-alignment;
  background-color: $highlight-gray;
  border: solid $card-border $light-gray;
  width: $card-width;
  max-width: 620px;
  height: calc(#{$card-width} * 0.56);
  max-height: 347px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    width: $card-width-mobile;
    height: $card-width-mobile;
    left: $card-alignment-mobile;
    bottom: $card-alignment-mobile;
    max-height: none;
  }
}

.project-name {
  font-style: italic;
  font-size: 2vw;
  color: $dark-gray;
  @media (max-width: 768px) {
    text-align: center;
    width: 75%;
    height: min-content;
    font-size: 8vw;
  }
}

.project-type {
  position: absolute;
  font-size: 13px;
  font-weight: 700;
  margin-top: 0;
  color: $highlight-gray;
  border-radius: 15px;
  padding: 5px 8px;
  background-color: $dark-gray;
  right: $card-alignment;
  top: calc(#{$card-alignment} * 2);
}

.project-stack-container {
  position: absolute;
  left: $card-alignment;
  top: calc(#{$card-alignment} * 2);
}

.stack-item {
  margin: 0;
  margin-bottom: 5px;
  width: max-content;
  font-size: 13px;
  font-weight: 700;
  color: $opaque-white;
  border-radius: 15px;
  padding: 5px 8px;
  &[type="React Native"],
  &[type="React"] {
    background-color: $pastel-blue;
  }
  &[type="Ruby on Rails"] {
    background-color: $pastel-red;
  }
  &[type="Javascript"] {
    color: $opaque-light-gray;
    background-color: #f0db4f;
  }
}
