.resume-document {
  width: 100%;
  height: 100%;
}

.resume-download-link {
  margin-top: 25%;
  text-decoration: none;
  color: $opaque-white;
  padding: 3vw;
  border: solid 2px $opaque-white;
  font-weight: 600;
  font-size: 6vw;
  &[theme="light"] {
    color: $dark-gray;
  }
  &:active {
    border-color: $pastel-blue;
  }
}
