@import "./utils/utils";
@import "./components/_components-index";

.App {
  height: 100vh;
  color: $opaque-white;
  background-color: $bg-dark;
  font-family: $font-family-base;
  &.App[theme="light"] {
    background-color: $bg-light;
  }
}
